{% extends 'base.html' %}
{% load static %}
{% block title %}{{ category.name }}{% endblock title %}
{% block content %}

<div class="products-section">
    {% include 'partials/section_header.html' with icon='bi-grid-3x3-gap' title=category.name subtitle='Latest products in this category' %}

    {% if products %}
        <div class="products-grid">
            {% for product in products %}
                {% url 'users:addremovewishlist' product.id as wishlist_url %}
                {% include 'partials/product_card.html' with product=product wishlist_url=wishlist_url wishlist_icon='bi-heart' wishlist_title='Add to wishlist' show_seller=True %}
            {% endfor %}
        </div>
    {% else %}
        {% include 'partials/empty_state.html' with icon='bi-inbox' title='No products in this category' message='Try another category from the menu.' %}
    {% endif %}
</div>

{% endblock content %}
