{% extends "base.html" %}
{% load static %}

{% block title %}
  E-Bazar - Recently Viewed
{% endblock title %}

{% block content %}
<!-- Product Cart Start -->
<div class="container">
    <div class="w-100 mt-4">
        <h4 class="d-block">Recently Viewed Products</h4>

        <div class="d-flex flex-wrap justify-content-between">
            {% for i in products %}
            <!-- Product Card Start -->
            <div class="card border-0 shadow-sm d-inline-block m-1 mt-3"
                 style="width: 16.5rem;">

                {% if i.images.all %}
                    <img height="200"
                         class="card-img-top"
                         src="{{ i.images.all.0.image.url }}"
                         alt="{{ i.title }}">
                {% else %}
                    <img height="200"
                         class="card-img-top"
                         src="{% static 'images/14pro2.jfif' %}"
                         alt="No image">
                {% endif %}

                <div class="card-body">
                    <h6 class="card-title">{{ i.title }}</h6>
                    <span class="card-text">
                        <small>$ {{ i.price }}</small>
                    </span>

                    <div class="buttons d-flex justify-content-between mt-2">
                        <a href="{% url 'users:addremovesaved' i.id %}" title="Save">
                            📥
                        </a>
                        <a href="{% url 'products:detail' i.id %}"
                           class="btn btn-outline-primary btn-sm">
                            Details
                        </a>
                    </div>
                </div>
            </div>
            <!-- Product Card End -->
            {% endfor %}
        </div>
    </div>
</div>
<!-- Product Cart End -->
{% endblock content %}
