{% extends "base.html" %}
{% load static %}

{% block title %}
  E-Bazar - Recently Viewed
{% endblock title %}

{% block content %}
<div class="products-section">
    {% include 'partials/section_header.html' with icon='bi-clock-history' title='Recently Viewed' %}

    {% if products %}
        <div class="products-grid">
            {% for product in products %}
                {% url 'users:addremovewishlist' product.id as wishlist_url %}
                {% include 'partials/product_card.html' with product=product wishlist_url=wishlist_url wishlist_icon='bi-heart' wishlist_title='Save' %}
            {% endfor %}
        </div>
    {% else %}
        {% include 'partials/empty_state.html' with icon='bi-clock-history' title='No recently viewed products' message='Open a product to start building your recently viewed list.' %}
    {% endif %}
</div>
{% endblock content %}
