{% extends "base.html" %}
{% load static %}

{% block title %}
  E-Bazar - Saved Products of @{{ request.user }}
{% endblock title %}

{% block content %}
<div class="products-section">
    {% with header_title='Saved Products of @'|add:request.user.username %}
        {% include 'partials/section_header.html' with icon='bi-heart' title=header_title %}
    {% endwith %}

    {% if wishlists %}
        <div class="products-grid">
            {% for w in wishlists %}
                {% with product=w.product %}
                    {% url 'users:addremovewishlist' product.id as wishlist_url %}
                    {% include 'partials/product_card.html' with product=product wishlist_url=wishlist_url wishlist_icon='bi-heart-fill' wishlist_title='Remove from wishlist' %}
                {% endwith %}
            {% endfor %}
        </div>
    {% else %}
        {% include 'partials/empty_state.html' with icon='bi-heart' title='No saved products yet' message='Browse the homepage and tap the heart to save items.' %}
    {% endif %}
</div>
{% endblock content %}
